<br><br><br><br>
<div class="row">
    <div class="col-md-6">
        <form >
            <div class="form-group">
                <label for="title">Title</label>
                <input name="title" ng-model="title"  ngModelname="title" id="title" type="text" class="form-control" required>
            </div>
        
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">€</span>
                    <input #price=""id="price" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                  </div>
            </div>
        
            <div class="form-group">
                <label for="category">Category</label>
                <select id="category" class="form-control">
                    <option value=""></option>
                    <option *ngFor="let c of categories$ | async" [value]="c.key">
                        {{c.name }}
                    </option>
                </select>
            </div>
        
            <div class="form-group">
                <label for="imageUrl">image URL</label>
                <input name="imageUrl" ng-model="imageUrl"  id="imageUrl" type="text" class="form-control">
            </div>
            <button class="btn-primary">Save</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img [src]="imageUrl.value" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{title.value}}</h5>
              <p class="card-text">{{price.value | currency:'EUR':true }}.</p>
            </div>
          </div>
    </div>
</div>
