.footer-content{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  flex-grow: 1
  

}

footer{
  position:relative;
  bottom:0px;
  background-color:#e5e3d9;
  width:100%;

  
  
}
