<!-- 
<div class="MenuBox">
<div>Voorgerechten
  <div>Soep</div>
  <div>Tabouleh</div>
  <div>Hummus</div>

</div>


</div>


 
 <div id="MenuBox">
   <h1 text-align: center >Voorgerechten</h1> -->

<!-- <div class="row">
  <div class="container" *ngFor="let product of menu">
    <div class="card">
      
    <div class="FoodBox"><img [src]="product.imgUrls[0]" alt="" class="thumbnail" style="width:100%" ></div>
    <a [routerLink]="['/menu', product.id]"><h3 class="card-title text-center">
      {{product.name}}
    </h3>
    </a>
     <button class="btn btn-info">In Winkelmandje</button>  
    </div>
  </div>
</div>
 --><div class="container py-5">
  <div class="row">
    <div class="col-lg-10 mx-auto col-12 text-center mb-3">
        <h1 class="mt-0 text-primary">Menu</h1>
    </div>
    <!-- VOORGERECHTEN -->
    <!-- <div class="col-md">
      
        
    </div> -->
    <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="text-left">Mezze</h3>
        <p class="lead">Je kan mezze bestellen als aperitief, voorgerecht of als hoofdgerecht. Indien je mezze wenst als hoofdgerecht, adviseren we om 2 of 3 mezze per persoon te kiezen. Een assortiment kan je delen als voorgerecht of kan dienen als hoofdgerecht voor 1 persoon.</p>
        <hr class="accent my-5">
          </div>
          <div class="col">
            <img src="assets/Falafel1.jpg" class="img-fluid">
            <img src="assets/Tabbouleh1.jpg" class="img-fluid">
          </div>
          <div class="col">
            <img src="assets/Falafel1.jpg" class="img-fluid">
            <img src="assets/Tabbouleh1.jpg" class="img-fluid">
          </div>
        </div>
        <div class="row">

      </div>

    <div class="card-columns">
        <div class="card card-body">
            <span class="float-right font-weight-bold">$6.50</span>
            <h6 class="text-truncate">Tabouleh</h6>
            <p class="small">Salade van bulgur, ui, peterselie, tomaat, olijfolie en citroensap</p>
        </div>
        <div class="card card-body">
            <span class="float-right font-weight-bold">$6</span>
            <h6 class="text-truncate">Hummus</h6>
            <p class="small">Een soort puree van kikkererwten, tahini en olijfolie, wordt gereserveerd met lebanees brood</p>
        </div>
        <div class="card card-body">
            <span class="float-right font-weight-bold">$7.50</span>
            <h6 class="text-truncate">Kibbeh</h6>
            <p class="small">Gefrituurde hapjes met bulgur korst gevuld met kefta</p>
        </div>
        <div class="card card-body">
            <span class="float-right font-weight-bold">$10</span>
            <h6>Fatayer</h6>
            <p class="small">Gegrild brood belegd met Syrische kaas of za atar</p>
        </div>
        <div class="card card-body">
            <span class="float-right font-weight-bold">$12</span>
            <h6 class="text-truncate">Falafel</h6>
            <p class="small">Falafel gereserveerd met een Lebanees brood en een portie hummus</p>
        </div>
    </div>

<!--     HOOFDGERECHTEN -->

    <div class="col-12 mt-4">
        <h3 class="text-center">Hoofdgerechten</h3>
        <p class="lead">Je kan mezze bestellen als aperitief, voorgerecht of als hoofdgerecht. Indien je mezze wenst als hoofdgerecht, adviseren we om 2 of 3 mezze per persoon te kiezen. Een assortiment kan je delen als voorgerecht of kan dienen als hoofdgerecht voor 1 persoon.</p>
        <hr class="accent my-5">
    </div>
    <div class="card-columns">
        <div class="card card-body">
            <span class="float-right font-weight-bold">$14.00</span>
            <h6 class="text-truncate">Kefta</h6>
            <p class="small">Gegrild lamsgehakt (3 spiezen)</p>
        </div>
        <div class="card card-body">
            <span class="float-right font-weight-bold">$13</span>
            <h6 class="text-truncate">Jawaneh</h6>
            <p class="small">Gegrile Kippenvleugels</p>
        </div>
        <div class="card card-body">
            <span class="float-right font-weight-bold">$20.00</span>
            <h6 class="text-truncate">Lamskotelet</h6>
            <p class="small">Gegrilde lamskotelet</p>
        </div>
        <div class="card card-body">
            <span class="float-right font-weight-bold">$14</span>
            <h6 class="text-truncate">Kibbi mishwiyye</h6>
            <p class="small">2 stukjes Kibbi Mishwiyye bulgur, walnoten, uien, gehakt vlees (romig) en granaatappelmelasse</p>
        </div>
        <div class="card card-body">
            <span class="float-right font-weight-bold">$9,00</span>
            <h6 class="text-truncate">Vegqn Grill</h6>
            <p class="small"> Gegrilde tomaat, ui, aubergine en paprika</p>
        </div>
    </div>
    <div class="col-12 mt-4">
        <h3 class="text-center">Desserten</h3>
        <p class="lead">Syrische desserten, dagdagelijks gemaakt met verse ingredienten</p>
        <hr class="accent my-5">
    </div>
    <div class="card-columns">
        <div class="card card-body">
            <span class="float-right font-weight-bold">$5</span>
            <h6 class="text-underline">Baklava</h6>
            <p class="small">Mix van 4 klein stukjes Baklava met Syrische pistache en cashewnoten.</p>
            <span class="font-weight-bold small"></span>
        </div>
        <div class="card card-body">
            <span class="float-right font-weight-bold">$6</span>
            <h6>Mamoul</h6>
            <p class="small"> 5 stukjes Mamoul met Syrische pistachenoten en dadels</p>
        </div>
        <div class="card card-body">
            <span class="float-right font-weight-bold">$5</span>
            <h6>Palmyra Petitfour</h6>
            <p class="small"> 5 stukjes verse Syrische petitfour</p>
        </div>
        <div class="card card-body">
            <span class="float-right font-weight-bold">$6</span>
            <h6>Halawe Bl Jobn</h6>
            <p class="small"> 2 stukjes, room, melkpoeder, bloesemwater, bloem, zetmeel en pistachenoten</p>
        </div>
    </div>
    <div class="col-12 mt-4">
        <hr class="accent my-5">
    </div>
</div>
</div>