.MenuBox{
    
   
    justify-content: center;
    text-align: center;
    }

.FoodBox{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}

.card-columns {
    column-count: 1;
}