.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header > div {
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
    
  }

 header{
  position:fixed;
  top:0px;
  width:100%;
 }

 body {
    color: #666666;
    background: #F8F9FA;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
}
three{
    background-color:#e5e3d9;
}