<!DOCTYPE html>
<html>
<head>
  
</head>
<body style="background-color:#f4f3ef;">
  
  <div class="header">

    <div routerLink="/admin">Admin</div>
    <!-- <div routerLink="/home">Home</div>-->
    <div routerLink="/contact">Contact</div>
    <div routerLink="/menu">Menu</div>  
    <div routerLng serink="/reserveren">Reserveren</div>  
    <div routerLink="/takeaway">Takeaway</div>  
    <div routerLink="/aboutus">About Us</div> 
  </div>


<div class="header">

 
</div>

    

<!-- FOOTER -->
<app-footer></app-footer>



<router-outlet></router-outlet>
</body>
</html>