<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
  
<navbar></navbar>
<!-- 
  <div class="header">

    <div routerLink="/admin">Admin</div>-->
    <!-- <div routerLink="/home">Home</div>-->
    <!-- <div routerLink="/contact">Contact</div>-->
    <!-- <div routerLink="/menu">Menu</div>  
    <div routerLng serink="/reserveren">Reserveren</div>  
    <div routerLink="/takeaway">Takeaway</div>   -->
    <!--<div routerLink="/aboutus">About Us</div> -->
    
<!--   </div>


<div class="header">

 
</div>

     --> -->

<!-- FOOTER -->

<div class="container">
  <router-outlet></router-outlet>
</div>


</body>
</html>
